<<<<<<< HEAD
#about,
#projects,
#contact {
    padding-bottom: 100px;
    padding-top: 100px;
}

.a_propos .blocs {
    display: flex;
}

.avant_propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.avant_propos>* {
    margin: 15px 0;
}

.avant_propos h3 {
    font-size: 34px;
}

.avant_propos p {
    width: 950px;
    text-align: center;
}

.separation_titre {
    height: 5px;
    width: 70px;
    background: var(--couleur_principale);
    border-radius: 10px;
    margin-top: 0px;
}

.bloc_gauche_me_connaitre {
    width: 50vw;
}

.a_propos .blocs h4 {
    font-size: 26px;
    margin-left: 95px;
}

.bloc_gauche_me_connaitre p {
    margin-top: 40px;
    margin-left: 95px;
    width: 75%;
    display: flex;
    text-align: justify;
}

.bloc_droite_skills {
    width: 50vw;
}

.competences_blocs {
    margin: 0 88px;
    margin-top: 40px;
}

.bloc_droite_skills .competence {
    display: inline-block;
    padding: 10px 20px;
    background: var(--blanc_gris);
    border-radius: 8px;
    margin: 8px;
    cursor: context-menu;
    box-shadow: 2px 3px 5px 0px black;
    transition: transform .3s ease-out;
}

.bloc_droite_skills .competence:hover {
    transform: translateY(-5px);
=======
#about,
#projects,
#contact {
    padding-bottom: 100px;
    padding-top: 100px;
}

.a_propos .blocs {
    display: flex;
}

.avant_propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.avant_propos>* {
    margin: 15px 0;
}

.avant_propos h3 {
    font-size: 34px;
}

.avant_propos p {
    width: 950px;
    text-align: center;
}

.separation_titre {
    height: 5px;
    width: 70px;
    background: var(--couleur_principale);
    border-radius: 10px;
    margin-top: 0px;
}

.bloc_gauche_me_connaitre {
    width: 50vw;
}

.a_propos .blocs h4 {
    font-size: 26px;
    margin-left: 95px;
}

.bloc_gauche_me_connaitre p {
    margin-top: 40px;
    margin-left: 95px;
    width: 75%;
    display: flex;
    text-align: justify;
}

.bloc_droite_skills {
    width: 50vw;
}

.competences_blocs {
    margin: 0 88px;
    margin-top: 40px;
}

.bloc_droite_skills .competence {
    display: inline-block;
    padding: 10px 20px;
    background: var(--blanc_gris);
    border-radius: 8px;
    margin: 8px;
    cursor: context-menu;
    box-shadow: 2px 3px 5px 0px black;
    transition: transform .3s ease-out;
}

.bloc_droite_skills .competence:hover {
    transform: translateY(-5px);
>>>>>>> ebe4cb9 (fix img directories)
}