.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fleche_anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes apparition_nav_texte {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes apparition_nav_gauche {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes apparition_h2 {
    from {
        opacity: 0;
        transform: translateY(-30px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes apparition_p {
    from {
        opacity: 0;
        transform: translateY(-30px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes apparition_boutons {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fleche_disparait {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-30px);
        display: none;
    }
}

@keyframes slider_texte {

    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-30px);
    }

    35% {
        transform: translateY(-30px);
    }

    40% {
        transform: translateY(-60px);
    }

    55% {
        transform: translateY(-60px);
    }

    60% {
        transform: translateY(-90px);
    }

    75% {
        transform: translateY(-90px);
    }

    80% {
        transform: translateY(-120px);
    }

    95% {
        transform: translateY(-120px);
    }

    100% {
        transform: translateY(-150px);
    }
}

/* ════ ANIMATIONS ════ */
@keyframes apparition_chat {
    from {
        opacity: 0;
        transform: translateY(14px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: .3
    }
}

@keyframes typing {

    0%,
    60%,
    100% {
        transform: translateY(0);
        opacity: .4
    }

    30% {
        transform: translateY(-5px);
        opacity: 1
    }
}

@keyframes msgIn {
    from {
        opacity: 0;
        transform: translateY(7px)
    }

    to {
        opacity: 1;
        transform: none
    }
}