header {
    position: fixed;
    top: 0;
    height: 20%;
    width: 100%;
    height: 90px;
    box-shadow: 1px -3px 15px 1px black;
    backdrop-filter: blur(8px);
    z-index: 99;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

img {
    -webkit-user-drag: none;
    object-fit: cover;
}

header nav img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-position: 100% 40%;
}

header nav ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 90px;
}

.bloc_header_gauche {
    display: flex;
    align-items: center;
}

.bloc_header_gauche h1 {
    margin-left: 30px;
}

header nav ul li {
    list-style: none;
    margin: 0 15px;
}

header nav ul li a {
    color: var(--blanc);
    text-decoration: none;
    animation: apparition_nav_texte 1.2s ease-out;
}

header nav ul li a:hover {
    color: var(--couleur_principale);
    transition: color .18s ease-out;
}