:root {
    --blanc: #f4f4f4;
    --noir: #111827;
    --blanc_gris: #64748b;
    --couleur_principale: #6b69e8;
    --couleur_background: #141826;
    --couleur_background_plus_clair: #171b2d;
    --blanc_gris: #64748b;
    --bulle_fond: #192033;
    --bulle_chat: #1e2a40;
    --bordure_chat: rgba(255, 255, 255, 0.07);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--couleur_background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--blanc);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--couleur_principale);
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    color: var(--blanc);
    background-color: var(--couleur_background);
    font-family: 'Poppins';
    font-size: 18px;
    overflow-x: hidden;
}

body::selection {
    background: var(--couleur_principale);
}

/* FOOTER */

.trait_footer {
    height: 2px;
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background: var(--blanc_gris);
    margin-bottom: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}

footer a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: var(--blanc);
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    footer {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .avant_propos {
        margin-bottom: 50px;
    }

    .separation_titre {
        margin-top: 4px;
    }
}

@media (max-width: 450px) {
    .separation_titre {
        margin-top: 4px;
    }
}